@using ElectronicsShop.Data.Repositories;
@using ElectronicsShop.Domain.Entities;
@using ElectronicsShop.BusinessLogic.Services

@{
    var currentUserService = (ICurrentUserService)HttpContext.Current.Application["ICurrentUserService"];
    var currentUserName = currentUserService.GetCurrentUserName();
}

<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item nav-profile">
            <a href="@Url.Action("AdminAccount", "Home", new { area = "", returnUrl = Request.Path })" class="nav-link">
                <div class="nav-profile-image">
                    <img src="/Content/images/faces/face17.jpg" alt="profile">
                    <span class="login-status online"></span>
                    <!--change to offline or busy as needed-->
                </div>
                <div class="nav-profile-text d-flex flex-column">
                    @if (currentUserName != null)
                    {
                        <span class="font-weight-bold mb-2">@currentUserName</span>
                    }
                    else
                    {
                        <span class="font-weight-bold mb-2">Not logged in</span>
                    }

                    <span class="text-secondary text-small">Project Manager</span>
                </div>
                <i class="mdi mdi-bookmark-check text-success nav-profile-badge"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Index", "Home", new { area = "", returnUrl = Request.Path })">
                <span class="menu-title">Home Page</span>
                <i class="mdi mdi-home menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Categories", "Categories", new { area = "", returnUrl = Request.Path })">
                <span class="menu-title">Categories</span>
                <i class="mdi mdi-laptop-mac menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Products", "Products", new { area = "", returnUrl = Request.Path })">
                <span class="menu-title">Products</span>
                <i class="mdi mdi-laptop-mac menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Users", "Users", new { area = "", returnUrl = Request.Path })">
                <span class="menu-title">Users</span>
                <i class="mdi mdi-human menu-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Orders", "Orders", new { area = "", returnUrl = Request.Path })">
                <span class="menu-title">Orders</span>
                <i class="mdi mdi-cart menu-icon"></i>
            </a>
        </li>
        <li class="nav-item sidebar-actions">
            <span class="nav-link">
                <div class="border-bottom">
                    <h6 class="font-weight-normal mb-3">Projects</h6>
                </div>
                <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add a project</button>
                <div class="mt-4">
                    <div class="border-bottom">
                        <p class="text-secondary">Categories</p>
                    </div>
                    <ul class="gradient-bullet-list mt-4">
                        <li>Free</li>
                        <li>Pro</li>
                    </ul>
                </div>
            </span>
        </li>
    </ul>
</nav>