@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Electronics Shop</title>

    @Styles.Render("~/Content/style")
    @Styles.Render("~/Content/materialDesignIcons")
    @Styles.Render("~/Content/base")
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/css/site.css")
</head>
<body>
    <div class="container-scroller" style="padding-top: 40px">
        <!-- Navigation -->
        <nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 relative-top d-center flex-row">
            @Html.Partial("~/Areas/Store/Views/Shared/_Navigation.cshtml");
        </nav>

        <!-- Page Body -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    @*@if (ViewBag.ShowCategoriesView == true)
                    {
                        @Html.Partial("~/Areas/Store/Views/Shared/_ProductGrid.cshtml");
                    }*@
                    <main role="main" class="pb-5 mb-0">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>

    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/js/base")
    @Scripts.Render("~/Content/js/misc")
    @*@RenderSection("scripts", required: false *@
    <script src="~/Scripts/category.js"></script>
</body>
</html>