@using ElectronicsShop.BusinessLogic.Services
@model ElectronicsShop.Web.Areas.AdminPanel.Models.ProductViewModel


@{
    var currentUserService = (ICurrentUserService)HttpContext.Current.Application["ICurrentUserService"];
    var currentUserName = currentUserService.GetCurrentUserName();
}

<style>
    .navbar.default-layout-navbar {
        max-width: 1300px;
        margin: 0 auto;
        border-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        background-color: #ffffff;
    }

    .navbar-brand-wrapper {
        background-color: transparent;
    }

    .current-user {
        margin-left: 250px;
        margin-top: 23px;
    }

    body {
        background-color: #f2edf3;
    }
</style>

<nav class="navbar default-layout-navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row" style="margin-top: 20px">

    <div class="navbar-menu-wrapper d-flex align-items-stretch flex-grow-1 flex-shrink-0">

        <ul class="navbar-nav flex-shrink-0" style="margin-left: 0px">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="mdi mdi-menu"></i> Categories
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                    @foreach (var category in Model.Categories)
                    {
                        <li><button class="dropdown-item" type="button" onclick="redirectToProductGrid('@category.Name')">@category.Name</button></li>
                    }

                </ul>

                @*<ul class="dropdown-menu" aria-labelledby="dropdownMenu2">

                    @foreach (var category in Model.Categories)
                    {
                        <li><button class="dropdown-item" type="button" data-category="@category.Id">@category.Name</button></li>
                    }
                </ul>*@
            </li>
        </ul>

        <div class="search-field d-none d-md-block flex-shrink-0" style="margin-left: 50px">
            <form class="d-flex align-items-center h-100" action="#">
                <div class="input-group">
                    <div class="input-group-prepend bg-transparent">
                        <i class="input-group-text border-0 mdi mdi-magnify"></i>
                    </div>
                    <input type="text" class="form-control bg-transparent border-0" placeholder="Search products">
                </div>
            </form>
        </div>

        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href="index.html"><img src="/Content/images/logo.svg" alt="logo" style="margin-left: 70px"></a>
            <a class="navbar-brand brand-logo-mini" href="index.html"><img src="/Content/images/logo-mini.svg" alt="logo" style="margin-left: 70px"></a>
        </div>

        <div class="current-user">
            @if (currentUserName != null)
            {
                @currentUserName
            }
            else
            {
                <p>Not logged in</p>
            }
        </div>

        <ul class="navbar-nav navbar-nav-right">
            <li class="nav-item dropdown flex-shrink-0">
                <a class="nav-link count-indicator dropdown-toggle">
                    <i class="mdi mdi-cart-outline"></i>
                    <span class="count-symbol bg-warning"></span>
                </a>
            </li>
            <li class="nav-item dropdown flex-shrink-0" style="margin-right: 0px">
                <a class="nav-link count-indicator dropdown-toggle" id="messageDropdown" href="@Url.Action("Signup", "Account", new { area = "", returnUrl = Request.Path })">
                    <i class="mdi mdi-login-variant"></i>
                </a>
            </li>

        </ul>

    </div>
</nav>
@*<script>
    function loadProductGrid(categoryName) {
        var url = '/Store/Home/ProductGrid?categoryName=' + encodeURIComponent(categoryName);

        $.ajax({
            url: url,
            type: 'GET',
            success: function (data) {
                $('#productGridContainer').html(data);
            },
            error: function (xhr, status, error) {
                console.error(error);
            }
        });
    }
</script>*@

<script>
    function redirectToProductGrid(categoryName) {
        var url = '/Store/Home/ProductGrid?categoryName=' + encodeURIComponent(categoryName);
        window.location.href = url;
    }
</script>
